<nz-list
  [nzDataSource]="movies$ | async"
  [nzItemLayout]="'horizontal'"
  [nzGrid]="{gutter: 16, column: 1}"
  [nzLoading]="isLoading$ | async"
  [nzRenderItem]="item">
  <ng-template #item let-item>
    <nz-list-item>
      <div class="item-container">
        <div class="left-info">
          <div class="container-poster">
            <img alt="poster" [src]="item.urlPoster" />
          </div>
          <div class="info">
            <span class="title">{{item.title}}</span>
            <span class="year"><b>Year:</b> {{item.year}}</span>
            <span class="genres">
              <b>Genres: </b>
              <ng-container *ngFor="let genre of item.genres">
               {{genre}}
              </ng-container>
            </span>
            <span class="countries">
              <b>Countries: </b>
              <ng-container *ngFor="let country of item.countries">
               {{country}}
              </ng-container>
            </span>
            <span class="directors">
              <b>Directors: </b>
               <ng-container *ngFor="let director of item.directors">
                <a class="director-link" [href]="apiDirectorUrl + director.id">{{director.name}}</a>
              </ng-container>
            </span>
            <div class="trailers-info">
              <app-trailers *ngIf="item" [idIMDB]="item.idIMDB"></app-trailers>
            </div>
          </div>
        </div>
        <div class="right-info">
          <div class="rating">
            <span>{{item.rating}}</span>
            <nz-rate [ngModel]="item.rating" [nzCount]="10" [nzDisabled]="true" nzAllowHalf></nz-rate>
          </div>
        </div>
      </div>
      <div class="select-mark" [ngClass]="{selected: item.selected}">
        <i class="fa fa-bookmark" (click)="selectMovie(item.idIMDB)"></i>
<!--        <i class="fa fa-bookmark"></i>-->
      </div>
    </nz-list-item>
  </ng-template>
</nz-list>
