.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  align-items: center;
  display: flex;
  color: #fff;
  font-size: 2em;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  height: 64px;
  text-align: center;
}

.inner-content {
  padding: 24px;
  min-height: calc(100vh - 128px);
}
